html, body {
    margin: 0;
    padding: 0;
}

body > div#content {
    margin: 0;
    padding: 0;
}

body > div#content > h1.title {
    margin: 32px 0;
    padding: 0 16px;
    text-align: center;
    word-wrap: break-word;
    font-family: "Georgia", "Yu Gothic", "YuGothic";
    font-size: 32px;
    color: #404040;
}

body > div#content > div.location {
    margin: -24px 0 0;
    padding: 0;
    text-align: center;
    word-wrap: break-word;
}

body > div#content > div.index > ul.org-ul {
    margin: 0;
    padding: 0;
    text-align: center;
    word-spacing: 16px;
    list-style: none;
}

body > div#content > div.index > ul.org-ul > li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

body > div#content > div.created_at,
body > div#content > div.updated_at {
    margin: -16px 32px 0;
    padding: 0;
    text-align: right;
    word-wrap: break-word;
}

body > div#content > p,
body > div#content > div.outline-2 > div.outline-text-2 > p,
body > div#content > div.outline-2 > div.outline-3 > div.outline-text-3 > p,
body > div#content > div.outline-2 > div.outline-3 > div.outline-4 > div.outline-text-4 > p {
    margin: 16px;
    padding: 0;
    text-align: justify;
    text-align-last: left;
    text-indent: 1em;
    word-wrap: break-word;
    font-family: "Georgia", "Yu Gothic", "YuGothic";
    font-size: 16px;
    color: #404040;
}

body > div#content > div.outline-2 > div.outline-text-2 > div.center > p,
body > div#content > div.outline-2 > div.outline-3 > div.outline-text-3 > div.center > p {
    margin: 16px;
    padding: 0;
    text-align: center;
    text-indent: 1em;
    word-wrap: break-word;
    font-family: "Georgia", "Yu Gothic", "YuGothic";
    font-size: 16px;
    color: #404040;
}

body > div#content > div.outline-2 > div.outline-text-2 > table,
body > div#content > div.outline-2 > div.outline-3 > div.outline-text-3 > table,
body > div#content > div.outline-2 > div.outline-3 > div.outline-4 > div.outline-text-4 > table {
    margin: 16px auto;
    padding: 0;
    text-align: justify;
    text-align-last: left;
    text-indent: 1em;
    word-wrap: break-word;
    font-family: "Georgia", "Yu Gothic", "YuGothic";
    font-size: 16px;
    color: #404040;
}

body > div#content > div.outline-2 > div.outline-text-2 > div.center > p {
    margin: 16px;
    padding: 0;
    word-wrap: break-word;
    font-family: "Georgia", "Yu Gothic", "YuGothic";
    font-size: 16px;
    color: #404040;
}

body > div#content > div.outline-2 > div.outline-3 > div.outline-text-3 > div.upleft > div.figure > p:nth-child(1),
body > div#content > div.outline-2 > div.outline-3 > div.outline-text-3 > div.upright > div.figure > p:nth-child(1),
body > div#content > div.outline-2 > div.outline-3 > div.outline-4 > div.outline-text-4 > div.upleft > div.figure > p:nth-child(1),
body > div#content > div.outline-2 > div.outline-3 > div.outline-4 > div.outline-text-4 > div.upright > div.figure > p:nth-child(1) {
    margin: 0;
    padding: 0;
}

body > div#content > div.outline-2 > div.outline-3 > div.outline-text-3 > div.upleft > div.figure > p:nth-child(2),
body > div#content > div.outline-2 > div.outline-3 > div.outline-text-3 > div.upright > div.figure > p:nth-child(2),
body > div#content > div.outline-2 > div.outline-3 > div.outline-4 > div.outline-text-4 > div.upleft > div.figure > p:nth-child(2),
body > div#content > div.outline-2 > div.outline-3 > div.outline-4 > div.outline-text-4 > div.upright > div.figure > p:nth-child(2) {
    margin: 8px;
    padding: 0;
    text-align: justify;
    text-align-last: left;
    text-indent: 1em;
    word-wrap: break-word;
    font-family: "Georgia", "Yu Gothic", "YuGothic";
    font-size: 12px;
    color: #404040;
}

body > div#content > div.outline-2 > h2,
body > div#content > div#footnotes > h2 {
    margin: 24px 0;
    padding: 8px 16px;
    border-bottom: solid 1px #404040;
    text-align: left;
    word-wrap: break-word;
    font-family: "Georgia", "Yu Gothic", "YuGothic";
    font-size: 24px;
    color: #404040;
}

body > div#content > div.outline-2 > div.outline-3 > h3 {
    margin: 24px 0;
    padding: 4px 16px 4px 12px;
    border-left: solid 4px #404040;
    border-bottom: solid 1px #404040;
    text-align: left;
    word-wrap: break-word;
    font-family: "Georgia", "Yu Gothic", "YuGothic";
    font-size: 16px;
    color: #404040;
}

body > div#content > div.outline-2 > div.outline-3 > div.outline-4 > h4 {
    margin: 24px 0;
    padding: 4px 16px 4px 4px;
    border-left: double 12px #404040;
    border-bottom: solid 1px #404040;
    text-align: left;
    word-wrap: break-word;
    font-family: "Georgia", "Yu Gothic", "YuGothic";
    font-size: 16px;
    color: #404040;
}

body > div#content > ul,
body > div#content > div.outline-2 > div.outline-text-2 > ul,
body > div#content > div.outline-2 > div.outline-3 > div.outline-text-3 > ul,
body > div#content > ol,
body > div#content > div.outline-2 > div.outline-text-2 > ol,
body > div#content > div.outline-2 > div.outline-3 > div.outline-text-3 > ol {
    font-family: "Georgia", "Yu Gothic", "YuGothic";
    color: #404040;
}

body > div#content > pre,
body > div#content > div.outline-2 > div.outline-text-2 > div.org-src-container,
body > div#content > div.outline-2 > div.outline-text-2 > pre,
body > div#content > div.outline-2 > div.outline-text-2 > div.highlight,
body > div#content > div.outline-2 > div.outline-3 > div.outline-text-3 > pre,
body > div#content > div.highlight {
    margin: 16px 48px;
    padding: 0;
}

code, pre {
    font-family: "Consolas", "Courier New";
}

pre {
    white-space: pre-wrap;
}

a[href] {
    color: #0080FF;
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline;
}

span.overline {
    text-decoration: overline;
}

span.cdots {
    font-family: "Yu Gothic", "YuGothic";
}

span.dashes {
    font-family: Meiryo;
}

span.indent {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 1em;
    height: 1em;
}

span.sect:target {
    background-color: #FFFFE0;
}

div.center {
    text-align: center;
}

div.upleft {
    float: left;
    margin: 0 16px 16px 0;
}

div.upright {
    float: right;
    margin: 0 0 16px 16px;
}

div.noindent {
    margin: 0;
    padding: 0;
}

div.noindent + p {
    text-indent: 0 !important;
}

div.space {
    margin: 0;
    padding: 0;
    height: 16px;
}

a.footref:before {
    content: "[";
}

a.footref:after {
    content: "]";
}

a.footnum:before {
    content: "[";
}

a.footnum:after {
    content: "]";
}

body > div#content > div#footnotes > div#text-footnotes > div.footdef {
    display: inline-block;
    margin: 16px;
}

body > div#content > div#footnotes > div#text-footnotes > div.footdef > sup {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 16px;
}

body > div#content > div#footnotes > div#text-footnotes > div.footdef > p {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: justify;
    text-align-last: left;
    text-indent: 1em;
    word-wrap: break-word;
    font-family: "Georgia", "Yu Gothic", "YuGothic";
    font-size: 16px;
    color: #404040;
}

div.copyright {
    border: dotted 1px #404040;
}

div.infer {
    display: inline-block;
    margin: 0;
    padding: 0;
}

div.premise {
    display: inline-block;
    margin: 0 16px;
    padding: 0;
}

div.conclusion {
    display: block;
    margin: 0 16px;
    padding: 0;
    border-top: solid 1px #404040;
}
