html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    background-image: url("/img/desktop.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

input#about-visible:not(:checked) ~ div.window#about {
    display: none;
}

div.window#about:target {
    display: block !important;
}

input#about-visible:checked ~ div.taskbar > label.about {
    background-color: rgba(0, 255, 0, 0.5);
}

input#gallery-visible:not(:checked) ~ div.window#gallery {
    display: none;
}

div.window#gallery:target {
    display: block !important;
}

input#gallery-visible:checked ~ div.taskbar > label.gallery {
    background-color: rgba(0, 255, 0, 0.5);
}

input#golden-record-visible:not(:checked) ~ div.window#golden-record {
    display: none;
}

div.window#golden-record:target {
    display: block !important;
}

input#golden-record-visible:checked ~ div.taskbar > label.golden-record {
    background-color: rgba(0, 255, 0, 0.5);
}

input#rcs-visible:not(:checked) ~ div.window#rcs {
    display: none;
}

div.window#rcs:target {
    display: block !important;
}

input#rcs-visible:checked ~ div.taskbar > label.rcs {
    background-color: rgba(0, 255, 0, 0.5);
}

input#r18-visible:not(:checked) ~ div.window#r18 {
    display: none;
}

div.window#r18:target {
    display: block !important;
}

input#r18-visible:checked ~ div.taskbar > label.r18 {
    background-color: rgba(0, 255, 0, 0.5);
}

div.taskbar {
    flex: 0 0 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.75);
}

div.taskbar > label {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 28px;
    text-align: center;
}

div.taskbar > label:hover {
    background-color: rgba(255, 255, 255, 1);
}

div.window {
    position: relative;
    flex: 1 1 320px;
    max-height: calc(100% - 40px - 2em);
    margin: 1em;
    padding: 0;
    font-family: "Yu Gothic", "YuGothic";
}

div.window:before {
    display: block;
    padding-top: 75%;
    content: "";
}

div.window > div.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 24px;
    border-radius: 4px 4px 0 0;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}

div.window > div.content {
    position: absolute;
    left: 0;
    top: 24px;
    width: 100%;
    height: calc(100% - 24px);
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 0 0 4px 4px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
}

div.window > div.header > div.left {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 70%;
    height: 24px;
    text-align: left;
}

div.window > div.header > div.left > h1 {
    display: inline-block;
    margin: 0 0 0 4px;
    padding: 0;
    color: rgba(0, 0, 0, 1);
    font-size: 1em;
    vertical-align: middle;
}

div.window > div.header > div.right {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30%;
    height: 24px;
    text-align: right;
}

div.window > div.header > div.right > label.visible {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 0, 0, 1);
    border-radius: 0 4px 0 0;
    text-align: center;
}

div.window > div.content > p {
    margin: 0.5em 0;
    padding: 4px;
    font-size: 1em;
    text-align: justify;
}

div.window > div.content > p.indent {
    text-indent: 1em;
}

div.window > div.content > div.full > img {
    width: 100%;
    vertical-align: bottom;
}

div.window > div.content > h2 {
    margin: 0.5em 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
}

div.window > div.content > p > a {
    color: rgba(0, 255, 255, 1);
    text-decoration: none;
}

div.window > div.content > p > a:hover {
    color: rgba(0, 255, 255, 1);
    text-decoration: underline;
}

span.space {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 1em;
    height: 1em;
}

div.blank-line {
    display: block;
    margin: 0.5em 0;
    padding: 0;
    width: auto;
    height: 1em;
}

span.dashes {
    font-family: Meiryo;
}
