<%- require "pathname" -%>
<%- require "./lib/datafile" -%>
<%- ROUTE = ENV["ROUTE"] -%>
<%- DATAFILE = Datafile.parse(File.read(".#{ROUTE}Datafile")) -%>
<a class="component" href="/" data-route="/">&#x221A;</a><%- -%>
<%- DATAFILE.data.each do |datum| -%>
<%-   case datum.path -%>
<%-   when /^nav$/ -%>
<%-     datum.text.lines do |line| -%>
<%-       route = Pathname.new("#{ROUTE}#{line.chomp}/").expand_path.to_s + "/" -%>
<%-       datafile = Datafile.parse(File.read(".#{route}Datafile")) -%>
<a class="component" href="<%= route -%>" data-route="<%= route -%>"><%= (datafile["title"]&.text || line).chomp -%></a><%- -%>
<%-     end -%>
<%-   end -%>
<%- end -%>
