@font-face {
    font-family: "IBM BIOS";
    src: url("/fonts/PxPlus_IBM_BIOS.ttf") format("truetype");
}

@font-face {
    font-family: "Misaki Gothic";
    src: url("/fonts/misaki_gothic.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
}

div#game.single, div#game.single canvas {
    width: 240px;
    height: 160px;
    margin: 0 auto;
    padding: 0;
}

div#game.double, div#game.double canvas {
    width: 480px;
    height: 320px;
    margin: 0 auto;
    padding: 0;
}

div#game.quadruple, div#game.quadruple canvas {
    width: 960px;
    height: 640px;
    margin: 0 auto;
    padding: 0;
}

div#nav {
    font-family: "IBM BIOS";
    font-size: 8px;
}

div#desc {
    font-family: "Misaki Gothic";
    font-size: 8px;
    margin: 16px;
}
