@font-face {
    font-family: "Kludge";
    src: url("/misc/kludge/kludge.otf") format("opentype");
}

/* "Junicode" is lisenced under the SIL Open Font License 1.1
 * by https://junicode.sourceforge.io/ */
@font-face {
    font-family: "Junicode";
    src: url("/fonts/Junicode.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Junicode";
    src: url("/fonts/Junicode-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Junicode";
    src: url("/fonts/Junicode-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Junicode";
    src: url("/fonts/Junicode-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

/* "Klee" is lisenced under the SIL Open Font License 1.1
 * by https://github.com/fontworks-fonts/Klee */
@font-face {
    font-family: "Klee";
    src: url("/fonts/KleeOne-Regular.ttf") format("truetype");
}

/* "RocknRoll" is lisenced under the SIL Open Font License 1.1
 * by https://github.com/fontworks-fonts/RocknRoll */
@font-face {
    font-family: "RocknRoll";
    src: url("/fonts/RocknRollOne-Regular.ttf") format("truetype");
}

@media (orientation: landscape) {
    body {
        background-image: url("/etc/site/landscape.png");
    }
}

@media (orientation: portrait) {
    body {
        background-image: url("/etc/site/portrait.png");
    }
}

body {
    margin: 0;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(64, 64, 64, 0.875);
}

div.junicode, span.junicode {
    font-family: "Junicode";
}

div.klee {
    font-family: "Klee";
}

div.rocknroll {
    font-family: "RocknRoll";
}

div.navigation {
    /*height: 40px;*/
    background-color: rgba(0, 0, 0, 0.75);
    text-align: justify;
    text-align-last: justify;
}

div.navigation > div.left {
    display: inline-block;
    height: 40px;
}

div.navigation > div.right {
    display: inline-block;
    height: 40px;
}

a.section {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    text-align: center;
    text-align-last: center;
    vertical-align: top;
    text-decoration: none;
}

a.section:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

a.holoio.section {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 0, 255, 1);
}

article {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.875);
    overflow: hidden;
    border-bottom: solid 28px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.75) inset;
}

h1 {
    margin: 16px;
    font-size: 28px;
}

h2 {
    margin: 16px;
    font-size: 20px;
}

h3 {
    margin: 16px;
    font-size: 16px;
}

h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

h3::before {
    content: "### ";
}

p {
    margin: 16px;
    font-size: 16px;
    text-align: justify;
}

:not(pre) > code {
    display: inline-block;
    padding: 2px 4px;
    color: rgba(255, 255, 255, 0.875);
    background-color: rgba(0, 0, 0, 0.875);
    border-radius: 4px;
    font-family: Consolas;
}

pre {
    margin: 12px 0;
    padding: 4px 16px;
    color: rgba(255, 255, 255, 0.875);
    background-color: rgba(0, 0, 0, 0.875);
    font-size: 16px;
    font-family: Consolas;
    white-space: pre-wrap;
}

div.paragraph {
    margin: 16px;
    font-size: 16px;
    text-align: justify;
}

table {
    margin: 16px;
}

img {
    display: block;
    margin: 16px auto;
    max-width: 100vw;
    max-height: 100vh;
}

a {
    color: rgba(0, 128, 255, 0.875);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.kt-year-calendar {
    text-align: justify;
}

div.kt-month-calendar {
    display: inline-block;
    margin: 16px;
    width: 280px;
    vertical-align: top;
}

div.kt-month-calendar > div.header {
    height: 40px;
    text-align: center;
    vertical-align: top;
}

div.kt-month-calendar > div.week {
    height: 40px;
}

div.kt-month-calendar > div.week > div.day,
div.kt-month-calendar > div.week > div.today {
    display: inline-block;
    width: 40px;
    /*height: 40px;*/
    text-align: center;
    vertical-align: top;
}

div.kt-month-calendar > div.week > div.today {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 0, 255, 1);
}

div#holoio {
    position: fixed;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.875);
    background-color: rgba(0, 0, 0, 0.75);
    transition: top 1s, opacity 1s;
}

div#holoio:target {
    top: 0;
    left: 0;
    opacity: 1;
}

div#holoio:not(:target) {
    top: -100vh;
    left: 0;
    opacity: 0;
}

div.blank {
    height: 16px;
}

div.justify {
    text-align: justify;
    text-align-last: justify;
}

span.kludge {
    font-family: "Kludge";
}

div.rest {
    margin: 48px;
    font-size: 16px;
    text-align: center;
}

blockquote {
    margin: 16px 32px;
    font-size: 16px;
    font-style: italic;
    text-align: justify;
}

ul {
    margin: 16px;
}

span.emphasis {
    text-emphasis-style: dot;
}

div.inverse {
    border-top: solid 20px rgba(0, 0, 0, 0.75);
    border-bottom: solid 20px rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.875);
    background: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.875));
    font-family: "Klee";
}

hr {
    border-left: none;
    border-top: dotted 2px rgba(0, 0, 0, 0.5);
    border-right: none;
    border-bottom: none;
}

div.inverse hr {
    border-left: none;
    border-top: dotted 2px rgba(255, 255, 255, 0.5);
    border-right: none;
    border-bottom: none;
}

div.subtitle {
    margin: 16px;
    text-align: right;
    font-style: italic;
}

dl {
    margin: 16px;
}

dt, dd > p {
    margin: 0;
}

dd {
    margin: 0 16px;
}

dt, dd > p {
    font-size: 12px;
}
