@media (orientation: landscape) {
    body {
        background-image: url("/etc/site/landscape.png");
    }
}

@media (orientation: portrait) {
    body {
        background-image: url("/etc/site/portrait.png");
    }
}

body {
    margin: 0;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #404040;
}

div.navigation {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.75);
}

a.section {
    display: inline-block;
    width: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    text-align: center;
    text-decoration: none;
}

a.section:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

article {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.875);
    overflow: hidden;
    border-bottom: solid 28px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.75) inset;
}

h1 {
    margin: 16px;
    font-size: 28px;
}

h2 {
    margin: 16px;
    font-size: 20px;
}

h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

p {
    margin: 16px;
    font-size: 16px;
    text-align: justify;
}

img {
    display: block;
    margin: 16px auto;
    max-width: 100vw;
    max-height: 100vh;
}

a {
    color: rgba(0, 128, 255, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.kt-year-calendar {
    text-align: justify;
}

div.kt-month-calendar {
    display: inline-block;
    margin: 16px;
    width: 280px;
    vertical-align: top;
}

div.kt-month-calendar > div.header {
    height: 40px;
    text-align: center;
    vertical-align: top;
}

div.kt-month-calendar > div.week {
    height: 40px;
}

div.kt-month-calendar > div.week > div.day {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: top;
}
