html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("/img/desktop.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

div.taskbar {
    flex: 0 0 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.75);
}

div.taskbar > a.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    /*font-family: Symbola;*/
    font-size: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

div.taskbar > a.icon:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}

div.window {
    flex: 1 1 320px;
    margin: 1em;
}

div.window > div.header {
    padding: 0 8px;
    height: 24px;
    border-radius: 4px 4px 0 0;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    font-family: "Yu Gothic", "YuGothic";
}

div.window > div.content {
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.75);
}

div.window > div.content h2,
div.window > div.content h3,
div.window > div.content h4,
div.window > div.content h5,
div.window > div.content h6 {
    margin: 1em 0;
    padding: 0 1em;
    font-family: "Yu Gothic", "YuGothic";
}

div.window > div.content p {
    margin: 1em;
    padding: 0;
    font-family: "Yu Gothic", "YuGothic";
}

div.window > div.content pre {
    margin: 0;
    padding: 1em;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75) inset;
}

div.window > div.content h3,
div.window > div.content h4,
div.window > div.content h5,
div.window > div.content h6,
div.window > div.content p,
div.window > div.content pre {
    font-size: 1em;
}

div.window > div.content h2 {
    font-size: 1.5em;
}

div.window > div.content h3 {
    border-bottom: double 3px rgba(255, 255, 255, 1);
}

div.window > div.content h4 {
    border-bottom: solid 1px rgba(255, 255, 255, 0.75);
}

div.window > div.content h5 {
    border-bottom: dashed 1px rgba(255, 255, 255, 0.5);
}

div.window > div.content h6 {
    border-bottom: dotted 1px rgba(255, 255, 255, 0.25);
}

div.window > div.content h6 {
}

div.window > div.content h2 {
    text-align: center;
}

div.window > div.content p {
    text-align: justify;
}

div.window > div.content pre {
    font-family: Consolas, "Courier New";
    white-space: pre-wrap;
    word-break: break-all;
    background-color: rgba(0, 0, 0, 0.5);
}

div.window > div.content a {
    color: rgba(0, 255, 255, 1);
    text-decoration: none;
}

div.window > div.content a:hover {
    text-decoration: underline;
}

div.window > div.content img {
    width: 100%;
    vertical-align: bottom;
}

div.window > div.content code {
    font-family: Consolas, "Courier New";
}

div.window > div.content div.cont {
    margin: 1em;
    text-align: right;
}

div.window > div.content video.center {
    display: block;
    margin: 0 auto;
}

span.space {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 1em;
    height: 1em;
}

div.blank-line {
    display: block;
    margin: 0.5em 0;
    padding: 0;
    width: auto;
    height: 1em;
}

span.dashes {
    font-family: Meiryo;
}

p.indent {
    text-indent: 1em;
}

sup.sect:target ~ span.text {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}


sup.sect:target ~ sup.sect ~ span.text {
    color: inherit;
    background-color: inherit;
}

ul, li {
    font-family: "Yu Gothic", "YuGothic";
}

@font-face {
  font-family: "Lambda Church";
  src: url("/fonts/lambda-church.ttf") format("truetype");
}

.lambda-church {
  font-family: "Lambda Church";
}

@font-face {
  font-family: "Kludge";
  src: url("/fonts/kludge.ttf") format("truetype");
}

.kludge {
  font-family: "Kludge";
}
