<!DOCTYPE html>

<head>
  <style>
    html, body, h1, p, span, form, input, ul, li, a {
      margin: 0;
      padding: 0;
    }
    h1 {
      padding: 8px;
      font-size: 16px;
      font-family: Pirulen;
      background: linear-gradient(to bottom, #808080, #404040);
    }
    h1 > a {
      color: #F0F0F0;
      text-decoration: none;
    }
    .not-found {
      width: 640px;
      margin: 0 auto;
      margin-top: 16px !important;
    }
  </style>
</head>

<h1><a href="/">Rustter</a></h1>

<p class="not-found">not found</p>
