div.highlight > pre {
    color: red;
}

div.highlight > pre > span.c1,
div.highlight > pre > span.cm {
    font-style: italic;
    color: #C0C0C0;
}

div.highlight > pre > span.k,
div.highlight > pre > span.kr {
    font-weight: bold;
    color: #404040;
}

div.highlight > pre > span.s {
    color: #808000;
}

div.highlight > pre > span.mi {
    color: #800080;
}

div.highlight > pre > span.n,
div.highlight > pre > span.nv {
    font-style: italic;
    color: #404040;
}

div.highlight > pre > span.nn {
    font-weight: bold;
    color: #000080;
}

div.highlight > pre > span.kt {
    color: #404040;
}

div.highlight > pre > span.kt {
    color: #000080;
}

div.highlight > pre > span.nf {
    font-weight: bold;
    color: #800000;
}

div.highlight > pre > span.p,
div.highlight > pre > span.o,
div.highlight > pre > span.ow {
    color: #404040;
}
